body{
margin:0;
font-family:Arial;
text-align:center;
}

/* HEADER */

header{
display:flex;
align-items:center;
justify-content:space-between;
padding:10px;
border-bottom:1px solid black;
}

.header-left,
.header-right{
width:200px;
}

.header-center{
flex:1;
font-size:50px;
font-weight:bold;
}

/* NAV */

nav{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
margin:40px;
}

nav div{
padding:20px 40px;
background:#e1906a;
border:1px solid brown;
font-size:25px;
}

/* MOBILE */

@media (max-width:768px){

header{
flex-direction:column;
}

.header-center{
order:1;
font-size:30px;
margin-bottom:10px;
}

.header-left{
order:2;
width:45%;
}

.header-right{
order:3;
width:45%;
}

header{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
}

nav div{
width:80%;
font-size:20px;
}

}
