body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
    flex-wrap: wrap; /* mobile साठी */
}

.header-left,
.header-right {
    background-color: rgb(73, 72, 64);
    border: 1px solid black;
    padding: 40px 10px;
    width: 180px;
    box-sizing: border-box;
}

.header-center {
    flex-grow: 1;
    font-weight: bold;
    font-size: 54px;
    text-align: center;
}

/* NAVIGATION */
nav {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    gap: 30px 60px;
    flex-wrap: wrap;
}

nav div {
    border: 1px solid rgb(154, 71, 71);
    padding: 20px 40px;
    font-size: 28px;
    cursor: pointer;
    user-select: none;
    background-color: rgb(225, 144, 106);
}

/* FOOTER */
footer {
    background-color: rgb(249, 249, 249);
    padding: 15px 0;
    font-size: 100px;
    margin-top: 40px;
}


/* ---------------- MOBILE VIEW ---------------- */

@media (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 10px;
    }

    .header-left,
    .header-right {
        width: 100%;
        padding: 20px;
    }

    .header-center {
        font-size: 28px;
    }

    nav {
        gap: 15px;
        margin: 20px 0;
    }

    nav div {
        width: 80%;
        font-size: 20px;
        padding: 15px;
    }

    footer {
        font-size: 40px;
    }
}
